Makefile
Makefile.in
*~
*.o
*.so
*.dSYM/
*.lo
*.la
*.swp
*.orig
*.log
.deps
.libs
aclocal.m4
autom4te.cache
bandb/bandb
bandb/bantool
compile
config.log
config.status
config.guess
config.sub
configure
depcomp
include/setup.h
install-sh
libratbox/include/libratbox_config.h.in
libratbox/include/libratbox_config.h
libratbox/include/librb-config.h
libratbox/include/stamp-h1
libratbox/libratbox.pc
libratbox/libtool
libratbox/m4/*
libratbox/src/version.c
libtool
ltmain.sh
missing
scripts/*.tbz2
scripts/*.tgz
scripts/*.tar.bz2
scripts/*.tar.gz
servlink/servlink
setup.h.in
src/ircd
src/version.c
src/ircd_lexer.c
src/ircd_parser.c
src/ircd_parser.h
stamp-h1
ssld/ssld
tools/convertilines
tools/convertklines
tools/genssl.sh
tools/mkpasswd
tools/viconf
ylwrap
include/serno.h
libratbox/src/version.c.last
*.pyc
.git
