
install:
    - set "PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;C:\Windows\System32;C:\Windows;%PATH%"
    - set MSYSTEM=MINGW64
    - pacman --noconfirm -Sy
    - pacman --noconfirm --needed -S pacman-mirrors
    - pacman --noconfirm -Sy
    - pacman --noconfirm --needed -S base-devel zip mingw-w64-x86_64-tcl mingw-w64-x86_64-tcllib mingw-w64-x86_64-openssl mingw-w64-x86_64-toolchain mingw-w64-x86_64-sqlite3
    - ps: >-
        bash -c @"
          # Install autoconf-archive
          exec 0</dev/null 2>&1
          wget --quiet http://gnu.uberglobalmirror.com/autoconf-archive/autoconf-archive-2015.02.24.tar.xz
          tar -xf autoconf-archive-2015.02.24.tar.xz
          cd autoconf-archive-2015.02.24 && ./configure --prefix=/usr && make && make install
        "@

build_script:
    - ps: >-
        bash -c @"
          set -e
          # stdin seems to be invalid on appveyor, so set it to null
          # output on stderr is considered an error, redirect that too
          exec 0</dev/null 2>&1
        
          # m_stats can't build on windows yet, remove it
          grep -v m_stats modules/Makefile.am > Makefile.am.new
          mv Makefile.am.new modules/Makefile.am
        
          ./autogen.sh
          ./configure --host=x86_64-w64-mingw32 --prefix=C:/ircd --enable-debug
          make -j2
          make install
        
          # Libratbox doesn't seem to get installed for some reason, fix
          cp libratbox/src/.libs/libratbox.dll /c/ircd/bin/
        
          # Delete libtool objects and startic archives, not needed
          find /c/ircd/ -name \*.la -delete
          find /c/ircd/ -name \*.a  -delete
        
          # Copy required libraries
          cd /mingw64/bin/ && cp libeay32.dll libgcc_s_seh-1.dll libsqlite3-0.dll libssp-0.dll libwinpthread-1.dll ssleay32.dll zlib1.dll /c/ircd/bin
        "@

after_build:
    - ps: >-
        bash -c @"
          # Package for appveyor
          cd /c/ircd && zip -r elemental-ircd.zip *
        "@
    - appveyor PushArtifact c:/ircd/elemental-ircd.zip

test_script:
    - ps: >-
        bash -c @"
          # Elemental doesn't know how to pull nameservers on windows
          # But will check /etc/resolv.conf (C:\etc\resolv.conf)
          mkdir -p /c/etc
          echo nameserver 8.8.8.8 > /c/etc/resolv.conf
        
          testsuite/startall.sh 2>&1
          echo Tests disabled due to windows build being broken
          echo make check
          sleep 10
          # testsuite/killall.sh doesn't work due to msys messing with pids
          taskkill //IM ircd.exe
        "@

after_test:
    - ps: >-
        bash -c @"
          zip -r logs.zip /c/ircd/logs || true
          zip logs.zip tests/test-suite.log || true
        "@
    - appveyor PushArtifact logs.zip
